body {
    margin: 0;
    padding: 0;
    background-color: rgb(179, 210, 237);
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
}

.app {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0,0,0, 0.5) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
    margin-top: 50px;
}

.list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}

.button-container, .info-container {
    display: flex;
    align-items: center;
}

.button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    padding: 10px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 10px;
    cursor: pointer;
}

/*List Item */
.list-items {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.tickIcon {
    padding: 10px;
}

.tickIcon path{
    fill:none;
    stroke:#000;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:32px
}

/* button */
.create {
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
    text-transform: uppercase;
}

.create:hover {
    background-color: rgb(131, 138, 172);
}

.create:active {
    background-color: rgb(108, 115, 148);
    color: rgb(255, 255, 255);
}

.edit {
    border: 1.5px solid rgb(141, 181, 145);
    color: rgb(141, 181, 145);
    text-transform: uppercase;
}

.edit:hover{
    background-color: rgb(182, 223, 186);
}

.edit:active {
    background-color: rgb(141, 181, 145);
    color: rgb(255, 255, 255);
 }

 .delete {
    border: 1.5px solid rgb(166, 71, 60);
    color:  rgb(166, 71, 60);
    text-transform: uppercase;
 }
 
 .delete:hover{
     background-color: rgb(232, 189, 185);
 }
 
 .delete:active {
    background-color: rgb(166, 71, 60);
    color: rgb(255, 255, 255);
  }
  
 .signout {
    border: 1.5px solid rgb(241, 178, 168);
    background-color: rgb(241, 178, 168) !important;
    color: rgb(234, 222, 222);
 }

 .signout:hover {
    border: 1.5px solid rgb(185, 54, 34);
    background-color: rgb(185, 54, 34) !important;
    color: rgb(255, 255, 255);
 }

 /* Modal */
.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-title-container {
    display: flex;
    justify-content: space-between;
}

.form-title-container button {
    border: none;
    background-color: transparent;
}

.form-title-container button:active {
    color: rgb(255, 149, 125);
}

.modal form {
    display: flex;
    flex-direction: column;
}

.modal form label {
    font-size: 13px;
}

input {
    margin: 11px 0px;
    padding: 15px;
    border-radius: 10px;
    border: 1.5px solid rgb(166, 71, 60);
}